script(src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
script(src="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))

// 代码高亮
if !config.highlight.enable
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.3/highlight.min.js") 
    script hljs.highlightAll();

// 导航栏搜索框
include search-script

include google_analytics

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

// 切换标签彩蛋
script(src=url_for("/js/crash_cheat.js")) 

//看板娘
script(src=url_for("/live2d-widget/autoload.js")) 