include word-count

mixin post_meta(date, tags, showviews)
    p.post-meta Posted on #{full_date(date, "MMM D YYYY")}
      if showviews
        if theme.word_count
          +word_count
          +min2read
        if theme.site_counter
          +site_counter
      if tags && tags.length > 0
        +show_tags(tags)


mixin site_counter 
  span.post-meta-group
    span#busuanzi_container_page_pv 
      span.with-love 
          i.fa.fa-eye 
      span 阅读次数：
      span#busuanzi_value_page_pv

mixin show_tags(tags)
  span.post-meta-group
    span.with-love 
      i.fa.fa-tag
    - tags.each(function(tag) {
        = ' · '
        a.tag.post-meta(href=url_for(tag.path))= tag.name
    - })